Package: mpartage-en
Version: 1.9
Architecture: all
Maintainer: arnault perret <arpinux@member.fsf.org>
Installed-Size: 82
Depends: python, python-support (>= 0.90), python-lxml
Conflicts: mpartage
Replaces: mpartage
Section: x11
Priority: extra
Homepage: http://shovel-crew.org/index.php?article18/partage-de-fichiers-facile
Description: transitional package for mpartage
 Manon nous livre ici un script simple permettant
 de partager facilement vos données sur votre réseau
 local ou distant depuis un navigateur internet.
