[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=facebook
Comment=visit facebook page
Comment[fr]=rejoindre votre page facebook
Icon=facebook
Exec=x-www-browser http://facebook.com
Terminal=false
StartupNotify=false
Categories=Application;Network;
GenericName=facebook
