Source: handylinux-doc-fr
Section: misc
Priority: optional
Maintainer: team handylinux <dev@handylinux.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://handylinux.org

Package: handylinux-doc-fr
Architecture: all
Depends: ${misc:Depends}
Description: Documentation HandyLinux fr
 Ce paquet contient le manuel de l'utilisateur 
 accompagné du manuel d'installation.
